<section class="hero is-fullheight is-info is-bold">
    <div class="hero-body">
        <div class="container">

            <h2 class="title">Oh Não pequeno aventureiro</h2>
            <h3 class="subtitle">Entramos na caverna escura.</h3>

            <button type="button" class="button is-info is-inverted" [routerLink]="['/dragons']">
                <span class="icon is-small">
                    <fa-icon icon="tree" size="sm"></fa-icon>
                </span>
                <span>Voltar para o Dragões in Memoriam</span>
            </button>

        </div>
    </div>
</section>
